@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body {
  background-color: rgb(38, 38, 38);
  font-family: 'Raleway', sans-serif;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 0 3vh;
}

.box {
  width: 30%;
  height: 85vh;
  padding: 20px;
  background-color: rgb(38, 38, 38);
  border-radius: 35px;
  border: 0.75vh solid #444444;
  overflow-y: auto;
  color: #fff;
  font-size: 16px;
  line-height: 1.6;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.box:hover {
  background-color: #444444;
}

.center-content {
  text-align: center;
  color: #fff;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.score {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.highscore {
  font-size: 1.5rem;
  font-weight: 400;
}